*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F7F7F7;
    
}

/*---------------------------------HEADER---------------------------------------*/
.h-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 5em;
}
.logo-tienda-cont{
    width: 15%;
    text-align: center;
}
.logo-tienda{
    width: 5em;
    height: 5em;
}

.catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.menu-nav-top{
    color: black;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
}

.menu-nav-top:hover{
    border-bottom: 1px solid #FF0000;
    transition: 0.5s;
}

.menu-nav-top-imgs{
    width: 2em;
    height: 2em;
}

.mv-link-title-cont{
    width: 15%;
    text-align: center;
}

.mv-link-title{
    font-family: bebas NEUE;
    font-size: 1.3em;
    color: #000000;
    text-decoration: none;
}


/*---------------------------------CAROUSEL---------------------------------------*/
.carousel{
    width: 100%;
}
.carousel-item{
    height: 50em;
}

/*---------------------------------MAS VENDIDOS------------------------------------*/

.catalogo-contein{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 2rem;
    margin-top: 2em;
}

#catalogo{
    position: absolute;
    top:0;
    text-align: center;
    font-family: bebas NEUE;
    font-size: 2em;
    color: #000000;
}

.mas-vendidos-cont{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 2em;
}

.title-mas-vend{
    color: black;
    text-align: center;
}

.product-contein{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 14em;
    margin: 2em;
    border: 5px solid black;
    background-color: #ffff;
}
.product-imgs{
    width: 8em;
    height: 8em;
}
.product-contein:hover{
    border: 5px solid #FF0000;
    transition: .2s;
}

.mostrar-data-estilo{
    min-width: 8em;
    overflow-y: scroll;
}

.mon1{
    width: 100%;
    height: 100%;
    color: black;
    font-size: .5em;
    padding: .5em;
}
.pmv-title{
    text-align: center;
    margin-bottom: .5em;
}
/*-----------------------------------FOOTER-----------------------------------*/
.btn-top{
    width: 100%;
    height: auto;
    text-align: center;
}

.btn-top-flecha{
    width: 4.5em;
    height: 2em;
}

/*-----------------------------------RESPONSIVE-----------------------------------*/

@media (max-width: 1440px){
    .h-nav{
        font-size: 1.5rem;
    }
    .mas-vendidos-cont{
        flex-wrap: wrap;
    }
}

@media (max-width: 576px){
    .h-nav{
        font-size: 1rem;
    }
}

/*
Azul: #0040FF
Rojo: #FF0000
Negro: #000000
Blanco: #FFFFFF

display: grid;
gap: 1rem;
grid-template-columns: repeat (auto-fill, minmax(min(100%, 25rem), 1fr));*/























/*
paleta:
principal
#FFAB24
secundario
#005199
detalles
#black



