* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffff;
}
/*---------------------------------HEADER---------------------------------------*/
.h-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 5em;
}
.logo-tienda-cont {
  width: 15%;
  text-align: center;
}
.logo-tienda {
  width: 5em;
  height: 5em;
}

.catalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.menu-nav-top {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
}

.menu-nav-top:hover {
  border-bottom: 1px solid #ff0000;
  transition: 0.5s;
}

.menu-nav-top-imgs {
  width: 2em;
  height: 2em;
}

.mv-link-title-cont {
  width: 15%;
  text-align: center;
}

.carrito {
  width: 2em;
  height: 2em;
}

/*---------------------------------CONTENEDOR GRAL---------------------------------*/
.cont-general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  font-size: 2rem;
  padding: 1em;
}

.estilo-cont {
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-collapse: collapse;
  width: 10em;
  height: 10em;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.estilo-cont {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seccion-imgs {
  width: 7em;
  height: 5em;
}

.seccion-PC-imgs {
  width: 7em;
  height: 8em;
}
/*-----------------------------------FILTRO DIV-----------------------------------*/
.titulo-seccion {
  margin-top: 1.5em;
  margin-left: 1.5em;
  font-size: 3em;
  font-family: bebas NEUE;
}

.buscar-marca-title {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  font-family: bebas NEUE;
}

.elegir-marca {
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.btn-carro-estilo {
  padding: 0.5em;
  color: #ffff;
  background-color: black;
}

.filtro-cont-general {
  display: flex;
  justify-content: space-around;
}

.carrito-estilo {
  width: auto;
  height: auto;
}
/*-----------------------------------CARRITO-----------------------------------*/
td {
  padding: 0.5em;
}

#vaciar-carrito {
  padding: 0.5em;
  color: #ffff;
  background-color: black;
}

.gracias {
  font-size: 2em;
  color: #ff0000;
}

/*-----------------------------------RESPONSIVE-----------------------------------*/
@media (max-width: 1250px) {
  .h-nav {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .h-nav {
    font-size: 1rem;
  }
}
